{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Xdebug",
            "type": "php",
            "request": "launch",
            "port": 9003,
            "pathMappings": {
                "/PPPoker/admin": "${workspaceFolder}",
                "/PPPoker/admin/public": "${workspaceFolder}/public"
            }
        }
    ]
}

